@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Microsoft.AspNetCore.Identity
@model IdentityRole

<form method="post">
    <div class="form-group">
        <label for="Name">Role Name</label>
        <input type="text" asp-for="Name" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">

    </div>
 
    
    <button type="submit" class="btn btn-primary">Submit</button>
</form>